.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  border-radius: 12px;
  background: var(--bg);
  transition: background .2s, border-radius .2s;
}

.app.maximized {
  border-radius: 0;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-scroll {
  flex: 1;
  overflow-y: auto;
  padding: 24px 32px;
}
